.place__title{
    font-family: 'Inter Bold',sans-serif;
    max-width: 460px;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    margin: 0;
    display: flex;
    align-items: end;
}
