.lead__travel{
    background-image: url(../../../images/poezd.png);
    width: 100%;
    margin: 64px 0 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}
@media screen and (max-width:1279px) {
    .lead__travel{
        width: 100%;
        margin-top: 56px;
    }
}
@media screen and (max-width:767px) {
    .lead__travel{
        margin-top: 40px;
    }
}