.lead__travel{
    width: 95.2%;
    height: min-content;
    margin: 90px auto 261px auto;
}
@media screen and (max-width:1279px) {
    .lead__travel{
        width: 95.1%;
        margin-bottom: 250px;
    }
}
@media screen and (max-width:1023px) {
    .lead__travel{
       margin-top: 70px;
       margin-bottom: 204px;
    }
}
@media screen and (max-width:767px) {
    .lead__travel{
       margin-top: 29px;
       margin-bottom: 85px;
    }
}
