@font-face{
    font-family:'Inter Bold';
    src: local('Inter Bold'),
    url(../russian-travel/fonts/Inter-Bold.otf);
}
@font-face{
    font-family:'Inter Regular';
    src: local('Inter Regular'),
    url(../russian-travel/fonts/Inter-Regular.otf);
}