.lead__image{
    background-image: url(../../../../russian-travel/images/poezd.png);
    width: 100%;
    margin:64px 0 0 auto;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-size: contain;

}
@media screen and (max-width:1279px) {
    .lead__image{
        width: 100%;
        margin-top: 56px;
    }
}
@media screen and (max-width:767px) {
    .lead__image{
        margin-top: 40px;
    }
}