.footer__column{
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: flex;
    max-width: 39.2%;
}

@media screen and (max-width: 767px) {
    .footer__column{
        flex-direction: column;
        gap: 32px;
    }
}