.place__url-heading{
    font-family: 'Inter', Arial, Helvetica,sans-serif;
    max-width: 456px;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    color: #AAAAAA;
    margin: 0 0 12px 0;
    letter-spacing: 2px;
}

