.cover__text_subtitle{
    font-family: 'Inter Regular',sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    max-width: 30.4%;
    margin-top: 32px;
    color: #ffffff;
}
@media screen and (max-width:1279px) {
    .cover__text_subtitle{
        max-width: 35.1%;
    }
}
@media screen and (max-width:1023px) {
    .cover__text_subtitle{
        max-width: 46.8%;
    }
}
@media screen and (max-width:767px) {
    .cover__text_subtitle{
        max-width: 90%;
        font-size: 14px;
        line-height: 16px;
        margin-top: 16px;
    }
}
